.full-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f0f0f5;
}

.wrap-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  height: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  margin-top: 1em;
}

.title div a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8257e6;
  font-size: 18px;
  
}

.title div a:hover > svg {
  color: #000;
  font-weight: bold;
  transition: all 300ms ease-in-out;
}

.title div a:hover {
  font-weight: bold;
  text-decoration: underline;
  transition: all 300ms ease-in-out;
}

.title div:first-child {
  margin-bottom: 1em;
}

.repos-container {
  width: 1100px;
  padding: 20px;
  display: grid;
  grid-template-columns: 0.8fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-gap: 10px 10px;
  align-items: center;
  justify-content: center;
  grid-template-areas: 
  "image content "
  "image content "
  "image content ";
  background-color: #fff;
  margin-top: 1.5em;
  border: 1px dashed transparent;
  box-shadow: -5px 0 15px rgba(0,0,0, .1);
  border-radius: 20px;
}

.repos-container:last-child {
  margin-bottom: 1em;
}

.info-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.image {
  grid-area: image;
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.image img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
}

.content {
  grid-area: conteudo;
}

.textarea-container {
  height: 38px;
}

.textarea-resize {
  min-width: 300px;
  max-width: 420px;
  resize: horizontal;
  line-height: 20px;
  font-size: 14px;
}

.public { 
  color: rgb(8, 233, 8);
  font-weight: 700;
}

.private {
  color: red;
  font-weight: 700;
}

.star span {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffd700;
  font-weight: bold;
  font-size: 17px;
}


.link-repository a:hover > svg {
  color: #8257e6 !important;
  transition: all 240ms ease-in-out;
}

.link-repository a:hover {
  color: #8257e6 !important;
  transition: all 240ms ease-in-out;
}

